*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif; 
    line-height: 1.6;
    background: #e8f5f5
}


header {
    padding: 1em; 
    font-size: 1.4rem;
    background: darkslategrey;
    color: white; 
    text-align: center; 

}

nav {
    display: flex; 
    flex-wrap: wrap; 
    gap: 3rem;
    justify-content: center; 
    margin-top: 2rem;
}

.navlink {
    color: white; 
    text-decoration: none; 
    font-weight: 700;

}


.navlink:hover,:focus {
    color: #fbb504;
}

.main-content {
        padding: 1rem;
        margin: 0.5vw;

}


.zvyraznit {
    font-size: 1.6rem;
    font-weight: 769;
}

.main-block {
  
    background: #ffffff;
    border-radius: 1rem;
    padding: 1em;
}


.sidebar {
    border-radius:1rem;
    padding: 2em 0;
    display: flex;
    background-color: #648686;
    color: white; 
    font-size: 1.2rem; 
    text-transform: capitalize;
    font-weight: 700;
    flex-wrap: wrap; 
    justify-content: space-around;
   
}


@media (min-width:700px) {
    header {
        padding: 2rem;
    }
    .main-content {
        display:flex; 
        flex-direction: row;
        justify-content: center;
    }

    .main-block {
        padding: 1rem;
    }
    .sidebar {
        padding: 1rem 1rem;
        display: flex; 
        flex-flow: column; 
        align-items: start;
        justify-content: start;
        gap: 1.3rem;

    }
}