*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif; 
    line-height: 1.6;
}


header {
    padding: 2em; 
    font-size: 1.4rem;
    background: darkslategrey;
    color: white; 
    text-align: center; 
    
}